.idea
*.iml
.nrepl-port
resources/public/js
target
componentInfo
pom.xml.asc
.cpcache
.shadow-cljs
node_modules/
.lsp

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Swap the comments on the following lines if you wish to use zero-installs
# In that case, don't forget to run `yarn config set enableGlobalCache false`!
# Documentation here: https://yarnpkg.com/features/caching#zero-installs

#!.yarn/cache
.pnp.*
